@page
@model WebApplication1.Pages.Books.CreateBookModel
<div id="message">
	@if (Model.errorMessage.Length > 0)
	{
		<div class="alert alert-danger" role="alert">
			@Model.errorMessage
			<button class="btn-close" onclick="document.getElementById('message').innerHTML=''"></button>
		</div>
	}
	else if (Model.successMessage.Length > 0)
	{
		<div class="alert alert-success">
			@Model.successMessage
			<button class="btn-close" onclick="document.getElementById('message').innerHTML=''"></button>
		</div>
	}
</div>
<br />
<form method="post">
	<div class="row mb-3">
		<label class="col-sm-1 col-form-label">Book Code</label>
		<div class="col-sm-4">
			<input class="form-control" name="bookCode" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-1 col-form-label">Book Title</label>
		<div class="col-sm-4">
			<input class="form-control" name="bookTitle" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-1 col-form-label">Category</label>
		<div class="col-sm-4">
			<input class="form-control" name="category" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-1 col-form-label">Author</label>
		<div class="col-sm-4">
			<input class="form-control" name="author" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-1 col-form-label">Publication</label>
		<div class="col-sm-4">
			<input class="form-control" name="publication" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-1 col-form-label">Publish Date</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" name="publishDate" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-1 col-form-label">Book Edition</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" name="bookEdition" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-1 col-form-label">Price</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" name="price" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-1 col-form-label">Rack Number</label>
		<div class="col-sm-4">
			<input class="form-control" name="rackNum" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-1 col-form-label">Date Arrival</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" name="dateArrival" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-1 col-form-label">Supplier ID</label>
		<div class="col-sm-4">
			<input class="form-control" name="supplierID" />
		</div>
	</div>
	<div>
		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="reset" class="btn btn-primary">Cancel</button>
	</div>
</form>